<div class="mx-5 bg-white">

    <h6 class="ml-5 mt-4">All Labels</h6>
    <div class="ml-5">
      <%= form_tag(tasks_path, method: :get,style:'') do %>
  <%= text_field_tag :search_label, params[:search_label],placeholder:'  search label'%>
  <%= submit_tag '  Search', name: nil , class:"btn btn-info rounded-pill"%>
 <% end %><br>
    </div>

    <table class = "table table-bordered w-25 ml-5">
      <thead class="bg-dark text-light">
        <tr>
          <th>Label Name</th>
          <th>User</th>
        </tr>
      </thead>

      <tbody>
        <% Label.all.each do |label| %>
          <tr>
            <td><%= label.name %></td>
            <td><%= label.user.firstname %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<hr>
<h1 class="mt-4 text-center">Available tasks</h1>
<div class="row">


<div class=" col-6  px-5">
  <%= paginate @tasks %>
</div>
<div class=" col-6  form-inline my-2 my-lg-0"><%= search_form_for @search do |f| %>
  <div class="row float-right">
    <div class="mx-4">
      <%= f.label :title_cont, "Search with title"  %>
      <%= f.text_field :title_cont, class:"field form-control mr-sm-2"%>
    </div>
    <div class>
      <div class="row">
      <div>
        <%= f.label :status_cont, "Search with status" %>
        <%= f.text_field :status_cont, class:"field form-control mr-sm-2" %>
        </div>
        <%= f.submit "Search", class:"btn btn-outline-info my-2 my-sm-0 rounded-pill"%>
      </div>
    </div>
    </div>
<% end %>
</div>
</div>

<% @tasks.each do |task| %>
  <% if logged_in? %>
    <% if current_user.id == task.user_id %>
      <div class=" p-4 border rounded my-2 bg-light">
        <%= task.created_at.strftime("%Hh%M min %Y, %B, %d") %>
        <h5 class="my-2">
          <strong><%= task.title %></strong>
        </h5>
        <h6>This task is scheduled to start on <strong><%= task.start_at.strftime("%B, %d, %Y") %></strong> and it must end before <strong><%= task.end_at.strftime("%B, %d, %Y") %></strong><h6>
        <p class="mx-2 bg-white p-2">
          <%= task.content %>
        </p>
        <div class="m-4">
          <h6>Labels</h6>
          <% task.labels.each do |label| %>
            <li class="ml-4">
            <%= label.name%>
            </li>
          <% end %>
        </div>

        <div class="row">

          <div class="col col-10">
            <button class="btn btn-outline-info"><%= link_to 'Show', task %></button>
            <button class="btn btn-outline-primary"><%= link_to 'Edit', edit_task_path(task) %></button>
            <button class="btn btn-outline-danger"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
          <div class="col">
            <p>
              <strong>Status: </strong>
              <%= task.status %><br>
              <strong>Priority:</strong>
              <%= task.priority %>
            </p>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>
<% end %>
<div class="px-5"><%= paginate @tasks %></div>
</div>
